<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>We can put a title here</h1>
        <p>and a subheader here</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <div class="panel panel-primary">
          <h3 id="Map"> Map Goes here</h3>
          <h3> Map Goes here</h3>
          <h3> Map Goes here</h3>
          <h3> Map Goes here</h3>
          <h3> Map Goes here</h3>
          <h3> Map Goes here</h3>

         </div>
        </div>
        <div class="col-md-4">
        <div class="col-md-6">
          <div class="well">
            <h5>Dropdown Menu</h5>
          </div>
          <div id="dropdown" class="panel-body">
            <select id="selCity" onchange="optionChanged(this.value)"></select>
          </div>
          </div>
        <div class="col-md-6">
            <div id="jinja" class="panel panel-primary"> Jinja Stuff goes here if we still want it </div> 
        </div>
        <div class="col-md-12 panel panel-primary">
                <div id="chart1"> Some sort of Plotly Goes here this is jgklsdgj kfjg fkgj fkjg fkgj kf</div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div id="chart2" class="panel panel-primary"> We can put a long chart here, or I can split it up into two as needed</div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
