<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stores</title>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" 
    crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" 
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" 
    crossorigin=""></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">   
            <div class="col-md-12 text-center" style="text-align: center">
                <h1>US Demographics Interactive Visualization</h1>
                <!-- <p>and a subheader here</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-md-4">
                    <!-- <div class="col-md-6">
                        <div class="well" id="stateDropDownLabel">
                            <h5>Select City:</h5>
                            <select id="cityselector" onchange="optionChanged(this.value)"></select>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="well" id="stateDropDownLabel">
                            <h5>Select City:</h5>
                            <select id="cityselector" onchange="optionChanged(this.value)"></select>
                            <div id="city-data"></div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6" id="city-data"></div> -->
                    <!-- <div class="col-md-12">
                        <div id="city_info" class="panel panel-primary">  
                            <table id="info-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="well" id="stateDropDownLabel">
                                            <h5>Select City:</h5>
                                            <select id="cityselector" onchange="optionChanged(this.value)"></select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Population</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Median Age</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Avg. Household Size</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Median Income</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Household Income</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Per Capita Income</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div> 
                    </div>
                    <div class="col-md-12 panel panel-primary">
                            <div id="chart1"> Some sort of Plotly Goes here this is jgklsdgj kfjg fkgj fkjg fkgj kf</div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-12">
                  <div id="chart2" class="panel panel-primary"> We can put a long chart here, or I can split it up into two as needed</div>
                </div>
              </div>           
        </div>

        <!-- <div class="row">
            <div class="col-md-12">
                <h2><a href="/send">Add your store here!</a></h2>
            </div>
        </div> -->
    </div>

    <!--D3 cdn-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
 
    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/choropleth.js') }}"></script>
   
    <!-- Our CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="./../static/css/style.css"> -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

    <!-- statesData -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/us-states.js') }}"></script>
    <!-- <script type="text/javascript" src="./../static/js/us-states.js"></script> -->

    <!-- API key -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- <script type="text/javascript" src="./../static/js/config.js"></script> -->

    <!-- Our JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>  
    <!-- <script type="text/javascript" src="./../static/js/app.js"></script>  -->
    
  
   
</body>

</html>
